* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    --bluelinkcolor : rgb(20, 130, 220);
}

a {
    color: black;
    text-decoration: none;
}

.header {
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
    text-align: center;
    padding: 3rem 1rem;
}

.container {
    margin: auto;
    width: 80vw;
}

.card {
    text-overflow: ellipsis;
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-flex;
    align-items:center;
    text-align: center;
    justify-content: center;
    height: 25vh;
    width: 20%;
    border-radius: 30px;
    background: #ececec;
    box-shadow: 0.5rem 0.5rem 1rem #858585,
    -1rem -1rem 2rem #ffffff;
    margin: 1rem 2rem;
    padding: 1rem 2rem;
    color: black;
    text-decoration: underline black;
}

.card:hover {
    border: var(--bluelinkcolor) 0.2em solid;
    color: var(--bluelinkcolor);
    text-decoration: underline var(--bluelinkcolor);
   }

.viewer {
    width: 80vw;
    height: 80vh;
    overflow:hidden;
}

.menu {
    margin: auto;
    width: 50%;
    display: flex;
    align-items:center;
    text-align: center;
    justify-content: center;
}

.item {
    background: #f4f4f4;
    border: #ccc solid 2px;
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    border-radius: 0.5rem;
    width: 25%;
}

#gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


@media (max-width: 1024px) {
    .card {
        height: 20vh;
        width: 30%;
        font-size: 1.2rem;
        padding: 1rem 3rem;
        border-radius: 25px;
    }
}

@media (max-width: 768px) {
    .card {
        height: 15vh;
        width: 40%;
        font-size: 1rem;
        padding: 0.5rem 2rem;
        border-radius: 20px;
    }

    .header {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .card {
        height: 10vh;
        width: 40%;
        font-size: 0.6rem;
        padding: 0.5rem 1rem;
        border-radius: 15px;
    }

    .header {
        font-size: 1rem;
    }
}